*, *:after, *:before {
  box-sizing: border-box;
}

:root {
  --bg: #28102fdd;
  --main: #28102f;
  --copy: #f4f4f2;
}

body {
  margin: 0;
  font-family: 'CMUTypewriterTextRegular', monospaced;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.65;
  color: var(--copy);
  background-color: var(--bg);
}

h1, h2, h3, h4 {
  margin: 0 0 .3em;
}

p, ul, ol, dl {
  margin: 0 0 .5em;
}

ul {
  padding: 0 0 0 1em;
}

a {
  position: relative;
  display: inline-block;
  line-height: 1.1;
  color: inherit;
  text-decoration: none;
}
a:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  transition: transform 200ms ease;
  transform-origin: center;
}

a:hover:after,
a:active:after {
  transform: scaleX(0);
}

.l__wrapper {
  margin-top: 2rem;
}

.l__about {
  background-color: var(--main);
}

.l__center {
  background-color: var(--copy);
}

.c__title {
  margin-top: 1em;
}

.c__title span {
  font-size: 2em;
  border: 4px solid currentColor;
  border-radius: 7px;
  padding: .2em 0.2em 0;
  line-height: 1;
}

.c__title small {
  display: block;
  margin-top: 1em;
}

.u__mt-2 {
  margin-top: 2em;
}

.u__mt-3 {
  margin-top: 3em;
}
.u__p-1 {
  padding: 1em;
}

.c__space {
  position: relative;
  font-size: 1rem;
}

.c__space__logo {
  position: relative;
  z-index: 5;
}

.c__space__info {
  padding: 1em;
  position: absolute;
  top: 0;
  left: 8em;
  width: 14em;
  min-height: 8.3rem;
  color: white;
  border: 2px solid var(--copy);
  border-radius: 5px;
  box-shadow: 0 0 1px var(--main);
  font-family: 'CMUTypewriterTextRegular', monospaced;
}

.c__space__logo img {
  width: 90px;
  height: 112px;
}

.c__space__logo {
  transform-origin: center bottom;
  transition: transform 200ms ease;
}

.c__space.mapboxgl-marker:hover .c__space__logo {
  transform: scale(.9)
}

.c__space.mapboxgl-marker {
  top: -45px;
}

.c__space.mapboxgl-marker .c__space__info {
  display: none;
  padding: 1em 0 1em;
  padding-left: 0px;
  position: absolute;
  top: -1em;
  left: -1em;
  width: 26em;
  padding-left: 9em;
  background-color: #28102f
}


.c__space.mapboxgl-marker.active {
  z-index: 99;
}

.c__space.mapboxgl-marker.active .c__space__logo {
  transform: scale(1)
}

.c__space.mapboxgl-marker.active .c__space__info {
  display: block;

}

@media (max-width: 560px) {
  .c__space {
    flex-direction: column;
  }
  .c__title span {
    font-size: 1.6em;
  }
}

@media (min-width: 561px) and (max-width: 1100px) {
  .l__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .l__about {
    flex: 1 0 33%;
  }
  .l__center {
    flex: 1 0 63%;
  }
  .l__detail {
    flex: 0 0 33%;
  }
  .l__detail .c__space {
    flex-flow: column nowrap;
  }

}

@media (min-width: 1101px) {
  .l__wrapper {
    display: flex;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  .l__about {
    flex: 0 0 25em;
  }
  .l__center {
    flex: 1 0 33%;
  }
  .l__detail {
    flex: 0 0 18em;
  }
  .l__detail .c__space {
    flex-flow: column nowrap;
  }
}

.map {
  height: 84vh;
  width: 100%;
}
